/* Reset back to defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importing fonts */
@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

/* Smooth scrolling */
html{scroll-behavior:smooth}

/* Header styling */
header {
	background-image: url("images/background.png");
  position: relative;
  left: 10%;
  display: flex;
  width: 90%;
}

.main-page {
  width: 50%;
}

/* Navigation styling */
nav ul {
  width: 100%;
  display: inline-block;
}

nav li {
  display: block;
  padding: 50px 0px;
}

nav a {
	text-decoration: none;
}

nav h4:hover {
	color: #A0A0A0;
}

nav h4 {
	font-family: Outfit;
	font-weight: 300;
	font-size: 75px;
  color: white;
  padding-left: 50px;
	/*text-transform: uppercase;*/
}

/* Logo styling */
#logo {
  display: table;
  margin: auto 0;
  justify-content: center;
  color: white;
  font-size: 25px;
  border: 1px solid white;
  margin: auto 4em; /*100px;*/
  height: 20em;/*500px;*/
  width: 12em; /*300px;*/
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  height: 300px;
}

/* Main section styling */
main {
  background-image: url("images/background.png");
  position: relative;
  left: 10%;
  width: 90%;
}

h2 {
  font-family: Outfit;
  font-weight: 300;
  font-size: 75px;
  color: white;
  padding-top: 50px;
  padding-left: 50px;
}

/* Services styling */
#services table {
  margin-left: auto;
  margin-right: auto;
  font-family: Outfit;
  font-size: 25px;
  color: white;
  border-spacing: 50px 50px;
}

#services td {
  border: 1px solid white;
  border-radius: 25%;
  width: 250px;
  height: 250px;
  text-align: center;
}

#services td:hover {
  background-color: black;
}

/* Team styling */
#team h2 {
  padding-bottom: 50px;
}

#team table {
  margin-left: auto;
  margin-right: auto;
  border-color: white;
  border-spacing: 50px 0px;
}

td {
  width: 250px;
}

.profile td {
  border: 1px solid white;
  border-radius: 25%;
  height: 250px;
}

.name td {
  height: 25px;
  padding-top: 25px;
  font-family: Outfit;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.position td {
  height: 25px;
  padding-bottom: 25px;
  font-family: Outfit;
  font-size: 15px;
  color: white;
  text-align: center;
  font-style: italic;
}

.description td {
  margin-top: 0;
  vertical-align: text-top;
  color: white;
  font-family: Outfit;
  font-size: 15px;
}

/* Careers styling */
#careers p {
  padding: 50px 50px;
  color: white;
  font-family: Outfit;
}

/* Contact styling */
#contact p {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  font-family: Outfit;
}

#contact form {
  padding: 50px 50px;
}

#contact #message {
  display: flex;
}

#contact label {
  color: white;
  font-family: Outfit;
  display: inline-block;
  width: 100px;
  text-align: right;
  top: 0;
}

#contact textarea {
  width: 500px;
  height: 200px;
  color: black;
  font-size: 15px;
  font-family: Outfit;
  margin-left: 5px;
  margin-top: 2px;
}

#contact #submit {
  margin-left: 105px;
  margin-top: 10px;
}

#contact #submit-button {
  font-family: Outfit;
  color: white;
  background-color: black;
}

/* Footer styling */
footer {
  background-color: black;
}

footer h6 {
  color: white;
  font-weight: normal;
  font-size: 15px;
}
