/* Reset back to defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importing fonts */
@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

/* Header styling */
header {
	background-image: url("images/background.png");
  position: relative;
  left: 10%;
  display: flex;
  width: 90%;
}

.main-page {
  width: 50%;
}

/* Navigation styling */
nav ul {
  width: 100%;
  display: inline-block;
}

nav li {
  display: block;
  padding: 50px 0px;
}

nav a {
	text-decoration: none;
}

nav h4:hover {
	color: #A0A0A0;
}

nav h4 {
	font-family: Outfit;
	font-weight: 300;
	font-size: 75px;
  color: white;
	/*text-transform: uppercase;*/
}

/* Logo styling */
#logo {
  margin: auto 0;
  text-align: center;
}

/* Main section styling */
main {
  background-image: url("images/background.png");
  position: relative;
  left: 10%;
  width: 90%;
}

h2 {
  font-family: Outfit;
  font-weight: 300;
  font-size: 75px;
  color: white;
}

/* Footer styling */
footer {
  background-color: black;
}

footer h6 {
  color: white;
  font-weight: normal;
  font-size: 15px;
}
