* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importing fonts */
@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

/* Smooth scrolling */
html {
  scroll-behavior:smooth;
  scrollbar-width: none; /* for Firefox */
  width: 1920px;
  height: 100%;
  margin: 0 auto;
  font-family: Outfit;
  font-weight: 300;
  color: white;
  /*transform: scale(1.5);*/
}

/* Body styling */
body {
  /* hide scrollbar but allow scrolling */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  font-size: 100%;
  width: 1920px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: -15em;
  /*border: 1px solid red;*/
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* General styling */
p {
  font-size: 20px;
}

/* Header styling (navigation and banner) */
header {
  position: relative;
  overflow-y: visible;
  width: 1920px;
  height: 1080px;
  display: block;
  margin: 0;
  /*box-shadow: inset 0 0 0 1000px linear-gradient(180deg, rgba(0,0,0,0), rgba(22,26,29,1));#161A1D;*/
  /*#161A1D;*/
}

header::before {
  content: '';
  position: absolute;
  left: 0%;
  width: 1920px;
  height: 1080px;
  background-image: url('./images/banner.png');
  background-repeat: no-repeat;
  background-size: 1920px 1082px;
  background-attachment: fixed;
  background-position: 50% 5em;
}

header::after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 1920px;
  height: 1080px;
  background-size: 1920px 1082px;
  background-position: 0px 0px;
  background-image: linear-gradient(180deg, rgba(22,26,29,0), rgba(22,26,29,1));
  background-position: 0;
}

header section {
  display: block;
  height: 5em;
  z-index: 1;
}

/* Navigation bar styling */
.navigation {
  position: fixed;
  top: 0;
  background-color: #161A1D;
  width: 1920px;
  height: 5em;
  text-align: left;
  z-index: 2;
}

.navigation ul {
  position: fixed;
  top: 0;
  display: inline-block;
}

.navigation li {
  padding: 0.25em;
}

.navigation hr {
  margin-top: calc(5em - 1px);
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid white;
  border-bottom: transparent;
}

/* Logo styling */
.logo,
.navigation-bar,
.socials {
  padding: 0.5em;
  text-align: center;
  height: 4em;
  margin: 0.5em 0;
}

.logo {
  text-align: left;
  width: 11em;
}

.logo li,
.navigation-bar li {
  position: relative;
  top: 0;
  width: 8em;
  height: 2em;
  display: inline-block;
}

.logo li {
  padding: 0;
  margin-right: 0.5em;
  height: 3em;
  text-align: center;
}

#logo {
  position: relative;
  border: 1px solid black;
  width: 3em;
  background-color: black;
}

#logo p {
  position: relative;
  top: -0.25em;
}

#company {
  width: 5em;
  text-align: left;
}

#company p {
  position: relative;
  top: -0.25em;
}

/* Navigation bar styling */
.navigation-bar {
  /*border: 1px solid green;*/
  margin-top: 1em;
  margin-left: calc(960px - 25em);
  width: 50em;
}

.navigation-bar a {
  text-decoration: none;
  color: white;/*#569CEC;*/
}

.navigation-bar a:hover {
  color: grey;
}

/* Socials bar styling */
.socials {
  margin-left: calc(1920px - 25.5em);
  text-align: left;
  padding: 0.75em;
  width: 25em;
}

.socials ul,
.socials li {
  position: relative;
  display: inline-block;
}

.socials ul {
  vertical-align: center;
  height: 3em;
}

.socials li {
  height: 3em;
  vertical-align: center;
}

.socials img {
  width: 2em;
}

#socials {
  top: -2.5em;
  height: 2.5em;
}

/* Search section styling */
.search-bar {
  width: 9em;
}

#search {
  top: -0.3em;
  left: 1em;
  width: 14em;
  height: 3em;
}

#search input[type=text] {
  border: 1px solid white;
  padding-left: 1em;
  padding-right: 3em;
  background: transparent;
  font-family: Outfit;
  color: white;
  border-radius: 2em;
  height: 3em;
  width: 16em;
}

#search input[type="text"]:focus {
    outline : none;
}

#looking-glass {
  position: relative;
  top: -2.5em;
  left: 11em;
  width: 1.5em;
}

/* Banner styling */
.banner {
  position: relative;
  top: 20em;
  width: 60%;
  height: 15%;
  padding: 1.5em;
  background-color: rgb(22, 26, 29, 0.85);
  margin: 20em auto;
  text-align: center;
  border-radius: 5em;
  color: white;
}

.banner h1 {
  font-size: 35px;
  font-weight: 100;
  text-transform: uppercase;
}

.banner h2 {
  font-weight: 100;
}

/* About us styling */
.about {
  margin: 0;
  color: #569CEC;
  background-color: #161A1D;
  text-align: left;
}

.about hr {
  color: #569CEC;
}

.about .about-us-section {
  display: block;
}

#about-us {
  padding-top: 25em;
  padding-bottom: 25em;
  padding-left: 2em;
  padding-right: 2em;
}

.about-us-section div {
  display: inline-block;
  margin: 0 1em;
}

.title h1 {
  width: 7.5em;
  font-size: 60px;
  color: #569CEC;
}

.title h2 {
  width: 17.5em;
  font-size: 30px;
  color: white;
}

.about .text {
  font-size: 20px;
  text-align: left;
  top: 2.5em;
  width: 100%;
  color: white;
}

.spaced p {
  line-height: 2;
}

.about .not-spaced {
  padding-top: 20em;
  padding-bottom: 50em;
  padding-left: 7.5em;
  padding-right: 7.5em;
}

#about-us-title {
  width: auto;
  text-align: center;
}

#about-us-text {
  position: relative;
  top: 0em;
  width: 60%;
}

/* Our location styling */
.split {
  display: inline-block;
  width: 47.5%;
}

.split div {
  position: relative;
  left: -1em;
  display: block;
  width: 100%;
}

#our-location {
  padding-bottom: 40em;
}

.title {
  text-align: left;
}

#our-location .text,
#our-team .text,
#our-products .text  {
  position: relative;
  top: 0.5em;
}

.left {
  float: left;
}

.right {
  float: right;
}

#location-title hr,
#team-title hr,
#our-products hr {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  color: white;
  width: 100%;
}

#our-location h2 {
  width: 16em;
}

/* Our team styling */
#our-team .text {
  width: 100%;
}

#our-team h2 {
  width: 16em;
}

.redirect-button {
  background-color: #569CEC;
  border-radius: 2em;
  height: 3em;
}

#about-button,
#products-button {
  width: 10em;
  margin: 3em 1em;
}

#about-button:hover,
#products-button:hover,
#partners-button:hover {
  background-color: #707070;
}

.button {
  position: relative;
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
  height: 3em;
  padding: 0.6em 0;
  border-radius: 2em;
}

#our-team {
}

/* Our products styling */
#our-products {
  margin-bottom: 20em;
}

#our-products h2 {
  width: 7.5em;
}

#products-description hr {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  color: white;
  width: 40%;
}

/* Our partners styling */
#our-partners {
  background-image: linear-gradient(180deg, rgba(22,26,29,0),
  rgba(86,156,236,0.5));
  text-align: center;
}

#partners-title {
  text-align: center;
}

#partners {
  width: 100%;
  margin-left: 0;
}

#partners td {
  width: 30%;
  text-align: center;
}

#partners-button {
  width: 12em;
}

#partners img {
  width: 75%;
}

/* Footer styling */
footer {
  background-color: #161A1D;
  clear: right;
  width: 1920px;
}

footer h6 {
  color: white;
  font-weight: normal;
  font-family: Outfit;
  font-size: 15px;
  text-align: left;
}

/* More zoomed in styling (desktop) */
@media screen and (max-width: 1900px) {

  /* Navigation styling */
  .logo {
    left: 0;
  }

  .navigation-bar {
    right: 25%;
    width: 50%;
  }

  .socials {
    right: 0;
  }

  /* Banner styling */
  .banner {
    width: 65vw;
    height: auto;
    margin: 35vh 20vw;
  }

  /* About styling */
  .split {
    display: block;
  }

  /* About us styling */
  #about-us {
    width: 100vw;
    height: auto;
    margin: 0 20vw 0vh 20vw;
  }

  #about-us .title,
  #about-us .text {
    height: auto;
  }

  #about-us .title {
    width: 80vw;
    margin: 1vh 0vw 1vh -11.5vw;
  }

  #about-us .text {
    width: 80vw;
    margin: 1vh 27.5vw 50vh 30vw;
  }

  #about-us h1 {
    margin: 0 auto;
    width: 100%;
  }

  /* Our location styling */
  #our-location,
  #our-team {
    width: 55vw;
    height: auto;
    padding-top: 5em;
  }

  #our-location {
    padding-bottom: 60em;
  }

  #our-location .title,
  #our-location .text,
  #our-team .title,
  #our-team .text,
  #our-products .title,
  #our-products .text {
    height: auto;
  }

  #our-location .text {
    width: 70vw;
    margin: 1vh -10vw;
  }

  #our-location .title,
  #our-team .title {
    text-align: center;
    width: 125vw;
  }

  #our-location .title {
    margin: 1vh -37vw;
  }

  #location-title,
  #team-title {
    padding: 0;
    margin: 0 auto;
  }

  #location-title hr,
  #team-title hr,
  #products-title hr {
    margin: 0 auto;
  }

  #location-description p {
    width: 100%;
  }

  #location-title h1,
  #location-title h2,
  #team-title h1,
  #team-title h2,
  #products-title h1,
  #products-title h2 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  #location-photo,
  #team-photo {
    width: 150vw;
    height: auto;
    text-align: center;
  }

  #location-photo {
    margin: 10vh -41.5vw;
    padding: 0;
  }

  /* Our team styling */
  #our-team {
    padding: 5em 0 80em 0;
  }

  #our-team .title {
    width: 100vw;
    margin: 1vh 0vw;
  }

  #our-team .text {
    width: 70vw;
    margin: 1vh 15vw;
  }

  #about-button {
    margin: 3em 57.5%;
  }

  #team-photo {
    margin: 0vh -49.5vw;
    padding: 0;
  }

  /* Our products styling */
  #our-products {
    margin: 5vh 0vw 25em 0vw;
    padding: 5em 0 50em 0;
    width: 70vw;
    height: auto;
  }

  #our-products .title {
    width: 120vw;
    height: auto;
    margin: 0vh 15vw 0 -43vw;
  }

  #our-products h1 {
    margin: 0 auto;
  }

  #our-products .text {
    width: 80vw;
    margin: 0 -25vw 0 -25vw;
  }

  #products-button {
    margin: 3em -25vw;
  }

  #products-photo {
    width: 200vw;
    text-align: center;
    height: auto;
    margin: 0em 0 0 -50vw;
  }

  /* Our partners styling */
  #our-partners {
    width: 100vw;
    padding: 40vh 5vw;
  }

  #our-partners .title {
    margin: 0 auto;
    width: auto;
  }

  #our-partners h1 {
    width: 50vw;
  }

  #partners td {
    width: 30vw;
  }
}

@media screen and (max-width: 600px) {
  #location-title h2 {
    width: 70%;
    margin: 0 20vw;
    height: auto;
  }

  #team-title h1 {
    width: 100%;
  }

  #team-title h2 {
    width: 90%;
    margin: 0 5vw;
    height: auto;
  }
}
